-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: source_shop
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `source_shop`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `source_shop` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `source_shop`;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `category_id` int NOT NULL AUTO_INCREMENT,
  `category_name` varchar(100) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`category_id`),
  UNIQUE KEY `category_name` (`category_name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
INSERT INTO `categories` VALUES (1,'Tech','2026-03-19 10:07:52'),(2,'Furniture','2026-03-19 10:07:52'),(3,'Stationery','2026-03-19 10:07:52'),(4,'Accessories','2026-03-19 10:07:52');
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers` (
  `customer_id` int NOT NULL AUTO_INCREMENT,
  `first_name` varchar(100) NOT NULL,
  `last_name` varchar(100) NOT NULL,
  `email` varchar(255) NOT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `country` varchar(100) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `signup_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`customer_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers_addresses`
--

DROP TABLE IF EXISTS `customers_addresses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers_addresses` (
  `address_id` int NOT NULL AUTO_INCREMENT,
  `customer_id` int NOT NULL,
  `address_type` enum('billing','shipping') NOT NULL,
  `address_line1` varchar(255) NOT NULL,
  `address_line2` varchar(255) DEFAULT NULL,
  `postal_code` varchar(20) DEFAULT NULL,
  `city` varchar(100) NOT NULL,
  `country` varchar(100) NOT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`address_id`),
  KEY `fk_addresses_customer` (`customer_id`),
  CONSTRAINT `fk_addresses_customer` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`customer_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers_addresses`
--

LOCK TABLES `customers_addresses` WRITE;
/*!40000 ALTER TABLE `customers_addresses` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers_addresses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `order_items`
--

DROP TABLE IF EXISTS `order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `order_items` (
  `order_item_id` int NOT NULL AUTO_INCREMENT,
  `order_id` int NOT NULL,
  `product_id` int NOT NULL,
  `quantity` int NOT NULL,
  `unit_price` decimal(10,2) NOT NULL,
  `line_total` decimal(10,2) GENERATED ALWAYS AS ((`quantity` * `unit_price`)) STORED,
  PRIMARY KEY (`order_item_id`),
  KEY `fk_order_items_order` (`order_id`),
  KEY `fk_order_items_product` (`product_id`),
  CONSTRAINT `fk_order_items_order` FOREIGN KEY (`order_id`) REFERENCES `orders` (`order_id`),
  CONSTRAINT `fk_order_items_product` FOREIGN KEY (`product_id`) REFERENCES `products` (`product_id`)
) ENGINE=InnoDB AUTO_INCREMENT=49 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `order_items`
--

LOCK TABLES `order_items` WRITE;
/*!40000 ALTER TABLE `order_items` DISABLE KEYS */;
INSERT INTO `order_items` (`order_item_id`, `order_id`, `product_id`, `quantity`, `unit_price`) VALUES (37,1,9,1,89.99),(38,1,10,2,39.99),(39,2,18,1,29.99),(40,2,20,1,6.99),(41,3,12,1,199.99),(42,3,13,1,45.00),(43,4,15,2,12.50),(44,4,16,3,8.90),(45,5,14,1,399.99),(46,5,19,1,34.50),(47,6,11,1,249.99),(48,6,18,1,29.99);
/*!40000 ALTER TABLE `order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `order_id` int NOT NULL AUTO_INCREMENT,
  `customer_id` int NOT NULL,
  `order_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `order_status` enum('pending','paid','shipped','delivered','cancelled') NOT NULL DEFAULT 'pending',
  `order_total` decimal(10,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`order_id`),
  KEY `fk_orders_customer` (`customer_id`),
  CONSTRAINT `fk_orders_customer` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`customer_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
INSERT INTO `orders` VALUES (1,1,'2026-03-15 10:35:00','delivered',0.00),(2,2,'2026-03-15 14:15:00','pending',0.00),(3,3,'2026-03-16 09:25:00','shipped',0.00),(4,4,'2026-03-16 16:50:00','cancelled',0.00),(5,5,'2026-03-17 11:05:00','paid',0.00),(6,1,'2026-03-17 13:45:00','delivered',0.00);
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `payment_id` int NOT NULL AUTO_INCREMENT,
  `order_id` int NOT NULL,
  `payment_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `payment_method` enum('credit_card','debit_card','paypal','bank_transfer','cash') NOT NULL,
  `payment_status` enum('waiting','paid','failed','refunded') NOT NULL DEFAULT 'waiting',
  `amount` decimal(10,2) NOT NULL,
  PRIMARY KEY (`payment_id`),
  KEY `fk_payments_order` (`order_id`),
  CONSTRAINT `fk_payments_order` FOREIGN KEY (`order_id`) REFERENCES `orders` (`order_id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
INSERT INTO `payments` VALUES (7,1,'2026-03-15 10:40:00','credit_card','paid',169.97),(8,2,'2026-03-15 14:20:00','paypal','waiting',36.98),(9,3,'2026-03-16 09:30:00','bank_transfer','paid',244.99),(10,4,'2026-03-16 16:55:00','credit_card','failed',51.70),(11,5,'2026-03-17 11:10:00','debit_card','paid',434.49),(12,6,'2026-03-17 13:50:00','paypal','paid',279.98);
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `products` (
  `product_id` int NOT NULL AUTO_INCREMENT,
  `category_id` int NOT NULL,
  `product_name` varchar(150) NOT NULL,
  `sku` varchar(100) NOT NULL,
  `unit_price` decimal(10,2) NOT NULL,
  `stock_quantity` int NOT NULL DEFAULT '0',
  `is_active` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`product_id`),
  UNIQUE KEY `sku` (`sku`),
  KEY `fk_products_category` (`category_id`),
  CONSTRAINT `fk_products_category` FOREIGN KEY (`category_id`) REFERENCES `categories` (`category_id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `products`
--

LOCK TABLES `products` WRITE;
/*!40000 ALTER TABLE `products` DISABLE KEYS */;
/*!40000 ALTER TABLE `products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `v_customer_revenue`
--

DROP TABLE IF EXISTS `v_customer_revenue`;
/*!50001 DROP VIEW IF EXISTS `v_customer_revenue`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_customer_revenue` AS SELECT 
 1 AS `customer_id`,
 1 AS `customer_name`,
 1 AS `customer_revenue`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_daily_revenue`
--

DROP TABLE IF EXISTS `v_daily_revenue`;
/*!50001 DROP VIEW IF EXISTS `v_daily_revenue`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_daily_revenue` AS SELECT 
 1 AS `order_day`,
 1 AS `daily_revenue`,
 1 AS `total_orders`,
 1 AS `total_units_sold`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_order_details`
--

DROP TABLE IF EXISTS `v_order_details`;
/*!50001 DROP VIEW IF EXISTS `v_order_details`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_order_details` AS SELECT 
 1 AS `order_id`,
 1 AS `order_item_id`,
 1 AS `order_day`,
 1 AS `order_date`,
 1 AS `order_status`,
 1 AS `customer_id`,
 1 AS `customer_name`,
 1 AS `customer_email`,
 1 AS `customer_country`,
 1 AS `customer_city`,
 1 AS `product_id`,
 1 AS `product_name`,
 1 AS `sku`,
 1 AS `category_id`,
 1 AS `category_name`,
 1 AS `quantity`,
 1 AS `unit_price`,
 1 AS `line_total`,
 1 AS `payment_id`,
 1 AS `payment_method`,
 1 AS `payment_status`,
 1 AS `payment_amount`,
 1 AS `payment_date`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_product_sales`
--

DROP TABLE IF EXISTS `v_product_sales`;
/*!50001 DROP VIEW IF EXISTS `v_product_sales`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_product_sales` AS SELECT 
 1 AS `product_id`,
 1 AS `product_name`,
 1 AS `category_name`,
 1 AS `total_quantity_sold`,
 1 AS `total_revenue`*/;
SET character_set_client = @saved_cs_client;

--
-- Dumping events for database 'source_shop'
--
/*!50106 SET @save_time_zone= @@TIME_ZONE */ ;
/*!50106 DROP EVENT IF EXISTS `ev_refresh_shop_analytics` */;
DELIMITER ;;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;;
/*!50003 SET character_set_client  = utf8mb4 */ ;;
/*!50003 SET character_set_results = utf8mb4 */ ;;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;;
/*!50003 SET @saved_time_zone      = @@time_zone */ ;;
/*!50003 SET time_zone             = 'SYSTEM' */ ;;
/*!50106 CREATE*/ /*!50117 DEFINER=`root`@`localhost`*/ /*!50106 EVENT `ev_refresh_shop_analytics` ON SCHEDULE EVERY 10 MINUTE STARTS '2026-03-19 15:26:50' ON COMPLETION NOT PRESERVE ENABLE DO CALL shop_analytics.sp_refresh_shop_analytics() */ ;;
/*!50003 SET time_zone             = @saved_time_zone */ ;;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;;
/*!50003 SET character_set_client  = @saved_cs_client */ ;;
/*!50003 SET character_set_results = @saved_cs_results */ ;;
/*!50003 SET collation_connection  = @saved_col_connection */ ;;
DELIMITER ;
/*!50106 SET TIME_ZONE= @save_time_zone */ ;

--
-- Dumping routines for database 'source_shop'
--

--
-- Current Database: `shop_analytics`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `shop_analytics` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `shop_analytics`;

--
-- Table structure for table `dim_categories`
--

DROP TABLE IF EXISTS `dim_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dim_categories` (
  `category_key` int NOT NULL AUTO_INCREMENT,
  `category_id` int NOT NULL,
  `category_name` varchar(100) NOT NULL,
  PRIMARY KEY (`category_key`),
  UNIQUE KEY `category_id` (`category_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dim_categories`
--

LOCK TABLES `dim_categories` WRITE;
/*!40000 ALTER TABLE `dim_categories` DISABLE KEYS */;
INSERT INTO `dim_categories` VALUES (1,4,'Accessories'),(2,2,'Furniture'),(3,3,'Stationery'),(4,1,'Tech');
/*!40000 ALTER TABLE `dim_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dim_customers`
--

DROP TABLE IF EXISTS `dim_customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dim_customers` (
  `customer_key` int NOT NULL AUTO_INCREMENT,
  `customer_id` int NOT NULL,
  `customer_name` varchar(255) NOT NULL,
  `customer_email` varchar(255) DEFAULT NULL,
  `customer_country` varchar(100) DEFAULT NULL,
  `customer_city` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`customer_key`),
  UNIQUE KEY `customer_id` (`customer_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dim_customers`
--

LOCK TABLES `dim_customers` WRITE;
/*!40000 ALTER TABLE `dim_customers` DISABLE KEYS */;
INSERT INTO `dim_customers` VALUES (1,1,'Alice Rossi','alice.rossi@example.com','Italy','Milan'),(2,2,'Marco Bianchi','marco.bianchi@example.com','Italy','Rome'),(3,3,'Sofia Muller','sofia.muller@example.com','Germany','Berlin'),(4,4,'John Smith','john.smith@example.com','United Kingdom','London'),(5,5,'Elena Garcia','elena.garcia@example.com','Spain','Madrid'),(6,6,'Luca Bianchi','luca.bianchi@example.com','Italy','Milan'),(7,7,'Sara Romano','sara.romano@example.com','Italy','Rome');
/*!40000 ALTER TABLE `dim_customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dim_dates`
--

DROP TABLE IF EXISTS `dim_dates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dim_dates` (
  `date_key` int NOT NULL,
  `full_date` date NOT NULL,
  `day_number` int NOT NULL,
  `month_number` int NOT NULL,
  `year_number` int NOT NULL,
  `month_name` varchar(20) NOT NULL,
  `quarter_number` int NOT NULL,
  PRIMARY KEY (`date_key`),
  UNIQUE KEY `full_date` (`full_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dim_dates`
--

LOCK TABLES `dim_dates` WRITE;
/*!40000 ALTER TABLE `dim_dates` DISABLE KEYS */;
INSERT INTO `dim_dates` VALUES (20260315,'2026-03-15',15,3,2026,'March',1),(20260316,'2026-03-16',16,3,2026,'March',1),(20260317,'2026-03-17',17,3,2026,'March',1);
/*!40000 ALTER TABLE `dim_dates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dim_products`
--

DROP TABLE IF EXISTS `dim_products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dim_products` (
  `product_key` int NOT NULL AUTO_INCREMENT,
  `product_id` int NOT NULL,
  `product_name` varchar(150) NOT NULL,
  `sku` varchar(100) DEFAULT NULL,
  `category_key` int NOT NULL,
  PRIMARY KEY (`product_key`),
  UNIQUE KEY `product_id` (`product_id`),
  KEY `fk_dim_products_category` (`category_key`),
  CONSTRAINT `fk_dim_products_category` FOREIGN KEY (`category_key`) REFERENCES `dim_categories` (`category_key`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dim_products`
--

LOCK TABLES `dim_products` WRITE;
/*!40000 ALTER TABLE `dim_products` DISABLE KEYS */;
INSERT INTO `dim_products` VALUES (1,9,'Mechanical Keyboard','TECH-KEY-001',4),(2,10,'Wireless Mouse','TECH-MOU-002',4),(3,11,'27 Inch Monitor','TECH-MON-003',4),(4,12,'Office Chair','FURN-CHA-004',2),(5,13,'Desk Lamp','FURN-LAM-005',2),(6,14,'Standing Desk','FURN-DSK-006',2),(7,15,'Notebook Pack','STAT-NBK-007',3),(8,16,'Pen Set','STAT-PEN-008',3),(9,17,'Sticky Notes','STAT-STK-009',3),(10,18,'USB-C Hub','ACC-HUB-010',1),(11,19,'Laptop Stand','ACC-STD-011',1),(12,20,'Webcam Cover','ACC-WBC-012',1);
/*!40000 ALTER TABLE `dim_products` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dq_check_log`
--

DROP TABLE IF EXISTS `dq_check_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dq_check_log` (
  `dq_id` int NOT NULL AUTO_INCREMENT,
  `run_id` int NOT NULL,
  `check_name` varchar(100) NOT NULL,
  `expected_value` decimal(18,2) DEFAULT NULL,
  `actual_value` decimal(18,2) DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `message` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`dq_id`),
  KEY `fk_dq_run` (`run_id`),
  CONSTRAINT `fk_dq_run` FOREIGN KEY (`run_id`) REFERENCES `etl_run_log` (`run_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dq_check_log`
--

LOCK TABLES `dq_check_log` WRITE;
/*!40000 ALTER TABLE `dq_check_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `dq_check_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `etl_run_log`
--

DROP TABLE IF EXISTS `etl_run_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `etl_run_log` (
  `run_id` int NOT NULL AUTO_INCREMENT,
  `process_name` varchar(100) NOT NULL,
  `run_start` datetime NOT NULL,
  `run_end` datetime DEFAULT NULL,
  `status` varchar(20) NOT NULL,
  `rows_loaded` int DEFAULT '0',
  `message` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`run_id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `etl_run_log`
--

LOCK TABLES `etl_run_log` WRITE;
/*!40000 ALTER TABLE `etl_run_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `etl_run_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fact_order_items`
--

DROP TABLE IF EXISTS `fact_order_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fact_order_items` (
  `fact_order_item_key` int NOT NULL AUTO_INCREMENT,
  `order_id` int NOT NULL,
  `order_item_id` int NOT NULL,
  `date_key` int NOT NULL,
  `customer_key` int NOT NULL,
  `product_key` int NOT NULL,
  `quantity` int NOT NULL,
  `unit_price` decimal(10,2) NOT NULL,
  `line_total` decimal(10,2) NOT NULL,
  `order_status` varchar(50) DEFAULT NULL,
  `payment_method` varchar(50) DEFAULT NULL,
  `payment_status` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`fact_order_item_key`),
  UNIQUE KEY `order_item_id` (`order_item_id`),
  KEY `fk_fact_date` (`date_key`),
  KEY `fk_fact_customer` (`customer_key`),
  KEY `fk_fact_product` (`product_key`),
  CONSTRAINT `fk_fact_customer` FOREIGN KEY (`customer_key`) REFERENCES `dim_customers` (`customer_key`),
  CONSTRAINT `fk_fact_date` FOREIGN KEY (`date_key`) REFERENCES `dim_dates` (`date_key`),
  CONSTRAINT `fk_fact_product` FOREIGN KEY (`product_key`) REFERENCES `dim_products` (`product_key`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fact_order_items`
--

LOCK TABLES `fact_order_items` WRITE;
/*!40000 ALTER TABLE `fact_order_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `fact_order_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vw_customer_revenue`
--

DROP TABLE IF EXISTS `vw_customer_revenue`;
/*!50001 DROP VIEW IF EXISTS `vw_customer_revenue`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_customer_revenue` AS SELECT 
 1 AS `customer_name`,
 1 AS `customer_email`,
 1 AS `total_revenue`,
 1 AS `total_orders`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_daily_revenue`
--

DROP TABLE IF EXISTS `vw_daily_revenue`;
/*!50001 DROP VIEW IF EXISTS `vw_daily_revenue`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_daily_revenue` AS SELECT 
 1 AS `full_date`,
 1 AS `total_revenue`,
 1 AS `total_quantity`,
 1 AS `total_orders`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vw_product_performance`
--

DROP TABLE IF EXISTS `vw_product_performance`;
/*!50001 DROP VIEW IF EXISTS `vw_product_performance`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vw_product_performance` AS SELECT 
 1 AS `product_name`,
 1 AS `sku`,
 1 AS `category_name`,
 1 AS `total_quantity`,
 1 AS `total_revenue`*/;
SET character_set_client = @saved_cs_client;

--
-- Dumping events for database 'shop_analytics'
--
/*!50106 SET @save_time_zone= @@TIME_ZONE */ ;
/*!50106 DROP EVENT IF EXISTS `ev_refresh_shop_analytics` */;
DELIMITER ;;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;;
/*!50003 SET character_set_client  = utf8mb4 */ ;;
/*!50003 SET character_set_results = utf8mb4 */ ;;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;;
/*!50003 SET @saved_time_zone      = @@time_zone */ ;;
/*!50003 SET time_zone             = 'SYSTEM' */ ;;
/*!50106 CREATE*/ /*!50117 DEFINER=`root`@`localhost`*/ /*!50106 EVENT `ev_refresh_shop_analytics` ON SCHEDULE EVERY 1 DAY STARTS '2026-03-19 16:29:03' ON COMPLETION NOT PRESERVE ENABLE DO CALL shop_analytics.sp_run_shop_pipeline() */ ;;
/*!50003 SET time_zone             = @saved_time_zone */ ;;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;;
/*!50003 SET character_set_client  = @saved_cs_client */ ;;
/*!50003 SET character_set_results = @saved_cs_results */ ;;
/*!50003 SET collation_connection  = @saved_col_connection */ ;;
DELIMITER ;
/*!50106 SET TIME_ZONE= @save_time_zone */ ;

--
-- Dumping routines for database 'shop_analytics'
--
/*!50003 DROP PROCEDURE IF EXISTS `sp_refresh_shop_analytics` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_refresh_shop_analytics`()
BEGIN
    DECLARE v_run_start DATETIME;
    DECLARE v_run_end DATETIME;
    DECLARE v_rows_loaded INT DEFAULT 0;

    DECLARE EXIT HANDLER FOR SQLEXCEPTION
    BEGIN
        SET v_run_end = NOW();

        INSERT INTO etl_run_log (
            process_name,
            run_start,
            run_end,
            status,
            rows_loaded,
            message
        )
        VALUES (
            'sp_refresh_shop_analytics',
            v_run_start,
            v_run_end,
            'FAILED',
            0,
            'Error during ETL refresh'
        );

        RESIGNAL;
    END;

    SET v_run_start = NOW();

    SET FOREIGN_KEY_CHECKS = 0;

    TRUNCATE TABLE fact_order_items;
    TRUNCATE TABLE dim_products;
    TRUNCATE TABLE dim_categories;
    TRUNCATE TABLE dim_customers;
    TRUNCATE TABLE dim_dates;

    SET FOREIGN_KEY_CHECKS = 1;

    INSERT INTO dim_customers (
        customer_id,
        customer_name,
        customer_email,
        customer_country,
        customer_city
    )
    SELECT
        c.customer_id,
        CONCAT(c.first_name, ' ', c.last_name) AS customer_name,
        c.email,
        c.country,
        c.city
    FROM source_shop.customers c;

    INSERT INTO dim_categories (
        category_id,
        category_name
    )
    SELECT
        category_id,
        category_name
    FROM source_shop.categories;

    INSERT INTO dim_products (
        product_id,
        product_name,
        sku,
        category_key
    )
    SELECT
        p.product_id,
        p.product_name,
        p.sku,
        dc.category_key
    FROM source_shop.products p
    JOIN dim_categories dc
        ON p.category_id = dc.category_id;

    INSERT INTO dim_dates (
        date_key,
        full_date,
        day_number,
        month_number,
        year_number,
        month_name,
        quarter_number
    )
    SELECT DISTINCT
        CAST(DATE_FORMAT(vod.order_day, '%Y%m%d') AS UNSIGNED) AS date_key,
        vod.order_day,
        DAY(vod.order_day),
        MONTH(vod.order_day),
        YEAR(vod.order_day),
        MONTHNAME(vod.order_day),
        QUARTER(vod.order_day)
    FROM source_shop.v_order_details vod;

    INSERT INTO fact_order_items (
        order_id,
        order_item_id,
        date_key,
        customer_key,
        product_key,
        quantity,
        unit_price,
        line_total,
        order_status,
        payment_method,
        payment_status
    )
    SELECT
        vod.order_id,
        vod.order_item_id,
        CAST(DATE_FORMAT(vod.order_day, '%Y%m%d') AS UNSIGNED) AS date_key,
        dc.customer_key,
        dp.product_key,
        vod.quantity,
        vod.unit_price,
        vod.line_total,
        vod.order_status,
        vod.payment_method,
        vod.payment_status
    FROM source_shop.v_order_details vod
    JOIN dim_customers dc
        ON vod.customer_id = dc.customer_id
    JOIN dim_products dp
        ON vod.product_id = dp.product_id;

    SET v_rows_loaded = ROW_COUNT();
    SET v_run_end = NOW();

    INSERT INTO etl_run_log (
        process_name,
        run_start,
        run_end,
        status,
        rows_loaded,
        message
    )
    VALUES (
        'sp_refresh_shop_analytics',
        v_run_start,
        v_run_end,
        'SUCCESS',
        v_rows_loaded,
        'ETL refresh completed successfully'
    );
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_run_shop_pipeline` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_run_shop_pipeline`()
BEGIN
    CALL sp_refresh_shop_analytics();
    CALL sp_validate_shop_analytics();
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_validate_shop_analytics` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_validate_shop_analytics`()
BEGIN
    DECLARE v_run_id INT;

    DECLARE v_source_rows INT DEFAULT 0;
    DECLARE v_fact_rows INT DEFAULT 0;

    DECLARE v_source_revenue DECIMAL(18,2) DEFAULT 0;
    DECLARE v_fact_revenue DECIMAL(18,2) DEFAULT 0;

    DECLARE v_missing_customer_keys INT DEFAULT 0;
    DECLARE v_missing_product_keys INT DEFAULT 0;

    DECLARE v_duplicate_order_items INT DEFAULT 0;

    SELECT MAX(run_id)
    INTO v_run_id
    FROM etl_run_log
    WHERE process_name = 'sp_refresh_shop_analytics'
      AND status = 'SUCCESS';

    /* 1. Source rows vs fact rows */
    SELECT COUNT(*)
    INTO v_source_rows
    FROM source_shop.v_order_details;

    SELECT COUNT(*)
    INTO v_fact_rows
    FROM fact_order_items;

    INSERT INTO dq_check_log (
        run_id, check_name, expected_value, actual_value, status, message
    )
    VALUES (
        v_run_id,
        'row_count_match',
        v_source_rows,
        v_fact_rows,
        CASE WHEN v_source_rows = v_fact_rows THEN 'PASS' ELSE 'FAIL' END,
        'Compare source_shop.v_order_details row count with fact_order_items'
    );

    /* 2. Revenue reconciliation */
    SELECT COALESCE(SUM(line_total), 0)
    INTO v_source_revenue
    FROM source_shop.v_order_details;

    SELECT COALESCE(SUM(line_total), 0)
    INTO v_fact_revenue
    FROM fact_order_items;

    INSERT INTO dq_check_log (
        run_id, check_name, expected_value, actual_value, status, message
    )
    VALUES (
        v_run_id,
        'revenue_match',
        v_source_revenue,
        v_fact_revenue,
        CASE WHEN v_source_revenue = v_fact_revenue THEN 'PASS' ELSE 'FAIL' END,
        'Compare source revenue with fact revenue'
    );

    /* 3. Missing customer keys */
    SELECT COUNT(*)
    INTO v_missing_customer_keys
    FROM fact_order_items
    WHERE customer_key IS NULL;

    INSERT INTO dq_check_log (
        run_id, check_name, expected_value, actual_value, status, message
    )
    VALUES (
        v_run_id,
        'missing_customer_keys',
        0,
        v_missing_customer_keys,
        CASE WHEN v_missing_customer_keys = 0 THEN 'PASS' ELSE 'FAIL' END,
        'Fact rows with NULL customer_key'
    );

    /* 4. Missing product keys */
    SELECT COUNT(*)
    INTO v_missing_product_keys
    FROM fact_order_items
    WHERE product_key IS NULL;

    INSERT INTO dq_check_log (
        run_id, check_name, expected_value, actual_value, status, message
    )
    VALUES (
        v_run_id,
        'missing_product_keys',
        0,
        v_missing_product_keys,
        CASE WHEN v_missing_product_keys = 0 THEN 'PASS' ELSE 'FAIL' END,
        'Fact rows with NULL product_key'
    );

    /* 5. Duplicate order_item_id in fact */
    SELECT COUNT(*)
    INTO v_duplicate_order_items
    FROM (
        SELECT order_item_id
        FROM fact_order_items
        GROUP BY order_item_id
        HAVING COUNT(*) > 1
    ) t;

    INSERT INTO dq_check_log (
        run_id, check_name, expected_value, actual_value, status, message
    )
    VALUES (
        v_run_id,
        'duplicate_order_item_id',
        0,
        v_duplicate_order_items,
        CASE WHEN v_duplicate_order_items = 0 THEN 'PASS' ELSE 'FAIL' END,
        'Duplicate order_item_id in fact_order_items'
    );
END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Current Database: `source_shop`
--

USE `source_shop`;

--
-- Final view structure for view `v_customer_revenue`
--

/*!50001 DROP VIEW IF EXISTS `v_customer_revenue`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_customer_revenue` AS select `c`.`customer_id` AS `customer_id`,concat(`c`.`first_name`,' ',`c`.`last_name`) AS `customer_name`,sum(`oi`.`line_total`) AS `customer_revenue` from ((`customers` `c` join `orders` `o` on((`c`.`customer_id` = `o`.`customer_id`))) join `order_items` `oi` on((`o`.`order_id` = `oi`.`order_id`))) where (`o`.`order_status` in ('paid','shipped','delivered')) group by `c`.`customer_id`,`customer_name` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_daily_revenue`
--

/*!50001 DROP VIEW IF EXISTS `v_daily_revenue`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_daily_revenue` AS select `v_order_details`.`order_day` AS `order_day`,sum(`v_order_details`.`line_total`) AS `daily_revenue`,count(distinct `v_order_details`.`order_id`) AS `total_orders`,sum(`v_order_details`.`quantity`) AS `total_units_sold` from `v_order_details` where (`v_order_details`.`order_status` in ('paid','shipped','delivered')) group by `v_order_details`.`order_day` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_order_details`
--

/*!50001 DROP VIEW IF EXISTS `v_order_details`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_order_details` AS select `o`.`order_id` AS `order_id`,`oi`.`order_item_id` AS `order_item_id`,cast(`o`.`order_date` as date) AS `order_day`,`o`.`order_date` AS `order_date`,`o`.`order_status` AS `order_status`,`c`.`customer_id` AS `customer_id`,concat(`c`.`first_name`,' ',`c`.`last_name`) AS `customer_name`,`c`.`email` AS `customer_email`,`c`.`country` AS `customer_country`,`c`.`city` AS `customer_city`,`p`.`product_id` AS `product_id`,`p`.`product_name` AS `product_name`,`p`.`sku` AS `sku`,`cat`.`category_id` AS `category_id`,`cat`.`category_name` AS `category_name`,`oi`.`quantity` AS `quantity`,`oi`.`unit_price` AS `unit_price`,`oi`.`line_total` AS `line_total`,`pay`.`payment_id` AS `payment_id`,`pay`.`payment_method` AS `payment_method`,`pay`.`payment_status` AS `payment_status`,`pay`.`amount` AS `payment_amount`,`pay`.`payment_date` AS `payment_date` from (((((`orders` `o` join `customers` `c` on((`o`.`customer_id` = `c`.`customer_id`))) join `order_items` `oi` on((`o`.`order_id` = `oi`.`order_id`))) join `products` `p` on((`oi`.`product_id` = `p`.`product_id`))) join `categories` `cat` on((`p`.`category_id` = `cat`.`category_id`))) left join `payments` `pay` on((`o`.`order_id` = `pay`.`order_id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_product_sales`
--

/*!50001 DROP VIEW IF EXISTS `v_product_sales`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_product_sales` AS select `p`.`product_id` AS `product_id`,`p`.`product_name` AS `product_name`,`cat`.`category_name` AS `category_name`,sum(`oi`.`quantity`) AS `total_quantity_sold`,sum(`oi`.`line_total`) AS `total_revenue` from (((`products` `p` join `categories` `cat` on((`p`.`category_id` = `cat`.`category_id`))) join `order_items` `oi` on((`p`.`product_id` = `oi`.`product_id`))) join `orders` `o` on((`oi`.`order_id` = `o`.`order_id`))) where (`o`.`order_status` in ('paid','shipped','delivered')) group by `p`.`product_id`,`p`.`product_name`,`cat`.`category_name` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Current Database: `shop_analytics`
--

USE `shop_analytics`;

--
-- Final view structure for view `vw_customer_revenue`
--

/*!50001 DROP VIEW IF EXISTS `vw_customer_revenue`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_customer_revenue` AS select `c`.`customer_name` AS `customer_name`,`c`.`customer_email` AS `customer_email`,sum(`f`.`line_total`) AS `total_revenue`,count(distinct `f`.`order_id`) AS `total_orders` from (`fact_order_items` `f` join `dim_customers` `c` on((`f`.`customer_key` = `c`.`customer_key`))) group by `c`.`customer_name`,`c`.`customer_email` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_daily_revenue`
--

/*!50001 DROP VIEW IF EXISTS `vw_daily_revenue`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_daily_revenue` AS select `d`.`full_date` AS `full_date`,sum(`f`.`line_total`) AS `total_revenue`,sum(`f`.`quantity`) AS `total_quantity`,count(distinct `f`.`order_id`) AS `total_orders` from (`fact_order_items` `f` join `dim_dates` `d` on((`f`.`date_key` = `d`.`date_key`))) group by `d`.`full_date` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vw_product_performance`
--

/*!50001 DROP VIEW IF EXISTS `vw_product_performance`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vw_product_performance` AS select `p`.`product_name` AS `product_name`,`p`.`sku` AS `sku`,`cat`.`category_name` AS `category_name`,sum(`f`.`quantity`) AS `total_quantity`,sum(`f`.`line_total`) AS `total_revenue` from ((`fact_order_items` `f` join `dim_products` `p` on((`f`.`product_key` = `p`.`product_key`))) join `dim_categories` `cat` on((`p`.`category_key` = `cat`.`category_key`))) group by `p`.`product_name`,`p`.`sku`,`cat`.`category_name` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-19 17:58:08
